.outer{
   height: 150px;
   /* background: #f7ebeb; */
   font-family:Freight Display;
}
.img1{
    height: 800px;
    width: 1340px;
}
.velvet{
    height: 100px;
    align-content: center;
    padding-top: 30px;
    padding-left: 30px;
}
.Dressed{
    height: 200px;
    width: 1000px;
    margin-left: 30px;
}
.img2{
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}