*{
   padding: 0;
   margin: 0;
   font-family:Freight Display;
}
.outer1{
    display: flex;
    height: 10011px;
    background: #b45252; 
     justify-content: center;
     align-items: center;
 }
.inner{
    
    background-color: blueviolet;
    width: 50%;
    text-align: center;
    
}